/* Variables */

:root {
    --basic-black: #000000;
    --basic-blue:#81B3D2;
    --basic-grey: #EEEEEE;
    --basic-black-font: #333333;
    --basic-brown: #766357;
    --basic-white: #ffffff;
    --basic-background:#F2F2F2;
  
    --special-htmlacademy: #231F20;
    --special-htmlacademy-focus: #BDBBBC;
    --special-trigger:#ABABAB;
    --special-grey-ratimg:#F2F2F2;
    --special-grey-icon:#CACACA;
    --special-grey-ratimg-font:#666666;
    --special-blue-hover:#669EC0;
    --special-blue-focus:#5496BD;
    --special-grey-hover:#604E43;
    --special-grey-focus:#503E33;
    --special-grey-hover-form:#ebebeb;
    --special-grey-focus-form-border:#E5E5E5;
    --special-grey-hover-adult:#A9A9A9;
    --special-footer-background:rgba(255,255,255,0.9);
    --special-white:rgba(255,255,255,0.3);
    --special-black-opacity:rgba(0,0,0,0.3);
  }

  /* Global */

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black-font);
    text-transform: uppercase;
    background-color: var(--basic-background);
    
}    
section{
  width: 1200px;
  margin: 0 auto;
}
article{
  width: 1200px;
  margin: 0 auto;
}
nav{
  width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation{
  position: relative;
  font-weight: bold;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.main-header-logo{
  position: absolute;
  left:531px;
}
.site-navigation{
  height: 54px;
  margin:0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  padding: 0 58px;
}
.site-navigation li{
  width: 21%;
}
.site-navigation li:nth-child(3){
  width: 172px;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-blue);
}
.site-navigation a {
  color: var(--basic-black);
  padding:14px;
}
.site-navigation .nav-list-rigth{
  text-align: right;
}
.site-navigation .nav-list-left{
  text-align: left;
}
.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  color:var(--special-black-opacity);
} 
.trait{
  display:flex;
  align-items: center;
  justify-content: center;
}
.trait::before,
.trait::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 1px;
  background: var(--basic-white);
}
.trait::before {
  margin-right: 5px;
  margin-top: 2px;
}

.trait::after {
  margin-left: 5px;
  margin-top: 2px;
}
.trait-black{
display:flex;
align-items: center;
justify-content: center;
margin-top: 26px;
}
.trait-black::before,
.trait-black::after {
display: inline-block;
content: "";
width: 8px;
height: 1px;
background: var(--basic-black-font);
}
.trait-black::before {
margin-right: 5px;
margin-top: 2px;
}

.trait-black::after {
margin-left: 5px;
margin-top: 2px;
}
/* Features */
.welcome{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:var(--special-grey-ratimg-font);
  background-image: url("/img/background\ photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 509px;
}
.intro:before{
  content: '';
  background: url(/img/Shape.png) center bottom no-repeat;
  position: absolute;
  top: -57px;
  left: 0;
  width: 100%;
  height: 57px;
}
.intro{
  background:var(--basic-white);
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.intro h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  padding-top: 41px;
  margin: 0;
}
.intro p{
  padding-top: 43px;
  padding-bottom: 53px;
  margin: 0;
}
.sity{
  display:flex;
}
.sity-wrapper{
  width: 400px;
  background-color:var(--basic-blue);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color:var(--basic-white);
}
.img-wrapper{
  height: 256px;
}
.sity-wrapper h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
  margin: 0;
  padding-top: 45px;
}
.sity-wrapper span{
  padding-top: 25px;
}
.sity-wrapper p{
  padding-top: 23px;
  margin:0;
}
.recreation{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--basic-white)
}
.recreation-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 55px 0px;
}
.recreation-list li{
  width: 33.33%;
}
.recreation-icon{
  background:no-repeat center center;
  width: 90px;
  height: 80px;
  display: inline-block;
}
.icon-home{
  background-image:url(/img/icons/icon-home.svg);
}
.icon-food{
  background-image:url(/img/icons/icon-food.svg);
}
.icon-present{
  background-image:url(/img/icons/icon-present.svg);
}
.recreation-list h3{
  font-weight: bold;
  font-size: 21px;
  margin-top: 19px;
  margin-bottom: 29px;
  line-height: 18px;
}
.recreation-list p{
  margin-bottom: 28px;
}
.canyon{
  display: flex;
}
.canyon-wrapper{
  width: 400px;
  background-color:var(--basic-blue);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color:var(--basic-white);
}
.canyon-wrapper h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 50px;
}
.canyon-wrapper span{
  padding-top: 25px;
}
.canyon-wrapper p{
  padding-top: 23px;
  margin:0;
}
.advantages{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--basic-grey);
  list-style: none;
}
.advantages-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 45px 0px;
  align-items: center;
  justify-content: space-between;
}
.advantages-list li{
  width: 33.33%;
}
.advantages-list h4{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  margin: 0;
}
.advantages-list p{
  margin-top: 23px;
  margin-bottom: 11px;
}
.interested{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--basic-white);
  list-style: none;
}
.search .interested h3{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding-top: 56px;
  padding-bottom: 31px;
  margin:0;
}
.search .interested p{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 46px;
  margin:0;
}
.search-hotels{
  list-style: none;
  padding: 30px 137px;
  color:var(--basic-white);
  background-color:var(--basic-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0px;
  display:inline-block;
  text-transform: uppercase;
  font-style: normal;
}
.search-hotels:hover{
  background-color:var(--special-grey-hover);
}
.search-hotels:focus,
.search-hotels:active{
  background-color:var(--special-grey-focus);
  color: var(--special-white);
}
.map{
  background-image:url(img/map1.jpg);
  background-repeat: no-repeat;
  height: 594px;
  position: relative;
}

/*popap*/

.form{
  width: 568px;
  height: 395px;
  background-color:var(--basic-white);
  color:var(--basic-black);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  top: 2174px;
  left: 50%;
  margin-left: -284px;
}
.arrival{
  padding:55px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.date-form{
  width: 301px;
  height: 22px;
  border:none;
  padding: 0;
  background-color:var(--basic-background);
  border:2px solid var(--basic-background);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 13px;
  border-radius: 0;
}
.date-form:hover{
  background-color:var(--special-grey-hover-form);
  border:2px solid var(--special-grey-hover-form);
}
.date-form:focus{
border: 2px solid var(--special-grey-focus-form-border);
background-color:var(--basic-white);
border-radius: 0;
}
.date-wrapper{
 position: relative;
 display: block;
 margin: 0;
 margin-bottom: 29px;
}
.date-wrapper label{
  width: 109px;
  display: inline-block;
  text-align: left;
  
}
.date-wrapper input{
  padding-top: 6px;
  padding-right: 30px;
  padding-bottom: 6px;
  padding-left: 10px;
}
.date-icon a{
position: absolute;
top: 7px;
left: 429px;
}
.date-icon a:hover path{
  fill: var(--basic-black);
}
.date-icon a:focus path{
  fill: var(--basic-blue);
}
.people{
  display: inline;
  margin: 0;
}
.people label{
  width: 109px;
  display: inline-block;
}
.people:last-child label{
  margin: 0 23px 0 49px;
  width: auto;
}
.people input{
  width:18px;
  height: 26px;
  border:none;
  padding: 6px 48px;
  background-color:var(--basic-background);
}
.adults-form{
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.people-wrapper{
  position: relative;
}
.number-down{
  content: '';
  position: absolute;
  top: -7px;
  left: -100px;
  color:var(--special-grey-hover-adult)
}
.number-up{
  content: '';
  position: absolute;
  left: -27px;
  top:-3px;
  color:var(--special-grey-hover-adult)
}
.number-down:hover rect{
  fill:var(--basic-black);
}
.number-up:hover path{
  fill:var(--basic-black);
}
.number-up:focus path{
  fill:var(--basic-blue);
}
.number-down:focus rect{
  fill:var(--basic-blue);
}
.button-form{
  display: block;
  padding: 16px 196px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  margin: 0 auto;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  border: none;
  margin-top: 55px;
}
.button-form:hover{
  background-color:var(--special-blue-hover);
}
.button-form:focus{
  background-color:var(--special-blue-focus);
}


/* Filter */

.filters{
  background-image:url(/img/background_hotels.jpg);
  background-repeat: no-repeat;
}
.filter{
  display: flex;
  justify-content: space-between;
  color: var(--basic-white);
  padding-top: 25px;
  padding-left: 71px;
  padding-right: 73px;
  padding-bottom: 8px;
} 
.filter-wrapper{
  display: flex;
}
.filter-wrapper fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 140px;
  margin-right: 116px;
}
.filter legend {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 41px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 27px;
  height: 25px;
  background-image: url("/img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  background-image: url("/img/icons/checkbox-on.svg");
 
}
.filter-input-checkbox.incative{
  background-image: url("img/icons/checkbox-inactive.svg");
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter ul li{
  padding-bottom:25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.filter-item{
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 0;
  
}
.filter-item legend{
  margin: 0;
  margin-bottom: 12px;

}
.range-filter {
  width: 317px;
}
.price-controls{
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  height: 32px;
  display: flex;
}
.min-price {
  width: 158px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;  
}
.max-price {
  width: 158px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;  
}
.price-controls span{
  padding-top: 6px;
}
.filter-item legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.range-controls {
  height: 30px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 4px;
}
.range-controls .scale {
  height: 2px;
  background:var(--special-white);
  mix-blend-mode: normal;
}
.range-controls .bar {
  width: 82%;
  height: 2px;
  background:var(--basic-white);
  z-index: 1;
} 
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-trigger);
  border-radius:50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: -11px;
  left: -11px;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 1px;
  top: -11px;
}
.range-controls .toggle-max {
  left: 253px;
  top: -11px;
}
.range-controls .toggle:hover{
  width: 5px;
  height: 5px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--special-trigger);
  border-radius:50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  cursor: pointer;
}
.button-price{
  border: 2px solid var(--basic-white);
  background-color: rgba(0,0,0,0);
  border-radius: 2px;
  color:var(--basic-white);
  padding:6px 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-family: "PT Sans";
}
.button-price:hover{
  color:var(--basic-black);
  background-color:var(--basic-white);
}

/* Found */

.found{
  background-color:var(--basic-white);
  display: flex;
  padding: 7px 73px 12px;
  justify-content:space-between;
}
.found-wrapper{
  display: flex;
}
.found h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-self:center;
  padding-right: 46px;
}
.found p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-self:center;
}
.found ul{
list-style: none;
display: grid;
grid-gap: 33px;
grid-template-columns: 49px 49px 76px;;
margin: 0;
padding: 0;
align-items:center;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
padding-left: 40px;
}
.found ul li a{
  color:var(--special-black-opacity);
  border-bottom: 1px dashed #81B3D2;
}
.found ul li.current a{
  color:var(--basic-blue);
  border-bottom:none;
}
.found ul li a:hover{
  color:var(--basic-blue);
}
.found ul li a:focus,
.found ul li a:active{
  color:var(--basic-black);
  border-color: #fff;
}
.strel{
  align-self:center;
  margin-top: 8px;
}
.strel span:nth-child(odd){
  padding-right: 8px;
}
.strel>span>a:hover path{
  fill:var(--basic-black);
}
.strel>span>a:focus path{
  fill:var(--basic-blue);
}


/* Hotel-list */


.content{
  display:grid;
  margin: 0;
  padding: 25px 73px 30px;
  background-color:var(--basic-white);
  grid-template-columns: 164px auto 165px;
  grid-template-rows: 95px;
  border-top: 1px solid var(--special-grey-focus-form-border);
}
.content>img{
  align-self: end;
}
.content-sort{
}
.content-wrap{
  display: grid;
  grid-template-columns: 110px 142px;
  grid-column-gap: 6px;
  margin: 0;
  grid-template-rows: 60px;
}
.content h3{
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
.content h3 a:not([href]),
.content h3 a:visited {
  color: var(--basic-black);
}
.content h3 a:hover{
  color:var(--special-blue-hover);
}
.content h3 a:focus{
  color:var(--special-black-opacity);
}

.hotel-type{
  margin: 0;
}
.hotel-type p{
  margin: 0;
  margin-bottom: 18px;
}
.hotel-type a{
  padding: 4px 16px;
  background-color:var(--basic-blue);
  color:var(--basic-white);
}
.hotel-type a:hover{
  background-color:var(--special-blue-hover);
}
.hotel-type a:focus{
  background-color:var(--special-blue-focus);
  color:var(--special-white);
}
.hotel-price{
  margin: 0;
}
.hotel-price p{
  margin: 0;
  margin-bottom: 18px;
}
.hotel-price a{
  padding: 4px 17px;
  background-color:var(--basic-brown);
  color:var(--basic-white);
}
.hotel-price a:hover{
  background-color:var(--special-grey-hover);
}
.hotel-price a:focus{
  background-color:var(--special-grey-focus);
  color:var(--special-white);
}
.hotel-rating{
  display: grid;
}
.star{
  margin-top: 2px;
  justify-self: end;
}
.hotel-rating p{
  justify-self: end;
  align-self: end;
  margin: 0;
  padding: 4px 13px;
  background-color:var(--basic-background);
}


/* Footer */

.main-footer{
  width: 1200px;
  margin: -120px auto 0;
  background-color:var(--special-footer-background);
  height: 120px;
  position: relative;
  z-index: 1;
}
.footer-main{
  padding: 0 94px;
  height: 120px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.index-footer{
  width: 1200px;
  height: 120px;
  background-color:var(--basic-white);
  margin:0 auto ;
  border-top: 1px solid var(--special-grey-focus-form-border);
}
.footer-contacts{
  width:289px;
  margin: 0;
  text-align: center;
  padding-bottom: 23px;
}
.footer-contacts a{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
  margin: 0;
  list-style: none
}
.footer-contacts a:not([href]) {
  color: var(--basic-black);
}
.footer-contacts p{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  margin: 0;
}
.footer-social{
  width:150px;
  padding-left: 0;
  text-align: center;
}
.footer-social ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:0;
}
.footer-social a:not([href]) {
  background-color: var(--basic-black);
}
.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color:var(--basic-blue);
}
.social-icon:hover{
  background-color:var(--special-blue-hover);
}
.social-icon:focus{
  background-color:var(--special-blue-focus);
}
.footer-copyright{
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  width: 287px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}
.footer-copyright>a{
  margin-left: 8px;
}
.footer-copyright a:hover path{
  fill:var(--special-blue-hover);
}
.footer-copyright a:focus path{
  fill:var(--special-grey-focus);
}
.form-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  color: inherit;
  background-color:var(--basic-background);
}