/* Variables */

:root {
    --basic-black: #000000;
    --basic-blue:#81B3D2;
    --basic-grey: #EEEEEE;
    --basic-black-font: #333333;
    --basic-brown: #766357;
    --basic-white: #ffffff;
    --basic-background:#F2F2F2;
  
    --special-htmlacademy: #231F20;
    --special-htmlacademy-focus: #BDBBBC;
    --special-trigger:#ABABAB;
    --special-grey-ratimg:#F2F2F2;
    --special-grey-icon:#CACACA;
    --special-grey-ratimg-font:#666666;
    --special-blue-hover:#669EC0;
    --special-blue-focus:#5496BD;
    --special-grey-hover:#604E43;
    --special-grey-focus:#503E33;
  }

  /* Global */

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black-font);
    text-transform: uppercase;
    background-color: var(--basic-background);
}    
section{
  width: 1200px;
  margin: 0 auto;
}
nav{
  width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation{
  position: relative;
  font-weight: bold;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.main-header-logo{
  position: absolute;
  left:531px;
}
.site-navigation{
  height: 56px;
  margin:0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  padding: 0 73px;
}
.site-navigation li:nth-child(3){
  width: 140px;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-blue);
}
.site-navigation a {
  color: var(--basic-black);
  padding:14px;
}
.site-navigation a:hover {
  background-color: var(--special-blue-hover);
}
.site-navigation a:focus {
  background-color: var(--special-blue-focus);
} 

/* Features */
.welcome{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background\ photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 509px;
}
.intro:before{
  content: '';
  background: url(/img/Shape.png) center bottom no-repeat;
  position: absolute;
  top: -57px;
  left: 0;
  width: 100%;
  height: 57px;
}
.intro{
  background: #fff;
  position: relative;
  padding: 20px 0;
  height: 216px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.intro h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 42px;
}
.intro p{
  padding-bottom: 51px;
}
.sity{
  display:flex;
}
.sity-wrapper{
  width: 400px;
  background-color:var(--basic-blue);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color:var(--basic-white);
}
.img-wrapper{
  height: 256px;
}
.sity-wrapper h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 47px;
}
.sity-wrapper span{
  padding-top: 25px;
  display: block;
}
.sity-wrapper p{
  padding-top: 23px;
  margin:0;
}
.recreation{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--basic-white)
}
.recreation-list{
  list-style: none;
  display: flex;
  height: 330px;
  margin: 0;
  padding: 0;
  align-items:center;
  justify-content: space-around;
}
.recreation-list li{
  height: 191px;
}
.icon-home{
  background-image:url(/img/icons/icon-home.svg);
  background-image:no-repeat;
  width: 75px;
  height: 72px;
  display: inline-block;
}
.icon-food{
  background-image:url(/img/icons/icon-food.svg);
  background-image:no-repeat;
  width: 75px;
  height: 70px;
  display: inline-block;
}
.icon-present{
  background-image:url(/img/icons/icon-present.svg);
  background-image:no-repeat;
  width: 64px;
  height: 77px;
  display: inline-block; 
}
.recreation-list h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 28px;
  margin-bottom: 25px;
}
.recreation-list p{
  margin-bottom: 22px;
}
.canyon{
  display: flex;
}
.canyon-wrapper{
  width: 400px;
  background-color:var(--basic-blue);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color:var(--basic-white);
}
.canyon-wrapper h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 50px;
}
.canyon-wrapper span{
  padding-top: 25px;
  display: block;
}
.canyon-wrapper p{
  padding-top: 23px;
  margin:0;
}
.advantages{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--basic-grey);
  list-style: none;
}
.advantages-list{
  list-style: none;
  display: flex;
  height: 256px;
  margin: 0;
  padding: 0;
  align-items:center;
  justify-content: space-around;
}

/*footer*/

.main-footer{
  width: 1200px;
  margin: 0 auto;
}

.footer{
  display: flex;
  background-color:var(--basic-white);
  height: 120px;
  align-items:center;
  justify-content: space-between;
}
.footer-contacts{
  border: 5px solid red;
}
.footer-social ul{
  list-style: none;
  border: 5px solid red;
}
.footer-copyright{
  border: 5px solid red;
}

/*border: 5px solid red;*/